<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Inicio</title>
   <!-- Añadir una nueva fuente para los títulos -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Great+Vibes&family=Silkscreen:wght@400;700&display=swap" rel="stylesheet">
  <!-- Añadir FontAwesome para los íconos -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<header>
<!-- Barra de navegación -->
<nav class="navbar navbar-expand-lg navbar-dark my-navbar">
    <a href="/inicio"><img class="navbar-logo" src="assets/IMG/logo.png"></a>
    <a class="navbar-nombre" href="/inicio">Dulce Sabor</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse"
        data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link custom-link" href="/inicio">Inicio</a>
            </li>
            <li class="nav-item">
                <a class="nav-link custom-link" href="/carta">Carta</a>
            </li>
            <li class="nav-item">
                <a class="nav-link custom-link" href="/noticias">Noticias</a>
            </li>
            <li class="nav-item">
                <a class="nav-link custom-link" href="/contacto">Contacto</a>
            </li>
        </ul>
        <!-- Ícono del carrito de compra alineado a la derecha -->
        <div class="navbar-carrito">
            <a href="/carrito" class="nav-link" style="margin-left: auto;">
                <i class="fas fa-shopping-cart"></i>
            </a>
        </div>
    </div>
</nav>
</header>

