<body>
<!-- Sección de Contenido de la Política de Privacidad -->
<section class="privacy-policy">
  <div class="container">
    <h1>⛔ Política de Privacidad ⛔</h1>
    <h3>Nos importa tu privacidad y la protección de tus datos personales.</h3>
    <h2>Información que Recopilamos</h2>
    <p>Recopilamos diferentes tipos de información para mejorar tu experiencia en nuestro sitio, como:</p>
    <ul>
      <li>Información personal: nombre, correo electrónico, dirección y número de teléfono.</li>
      <li>Datos de navegación: dirección IP, tipo de navegador y páginas visitadas.</li>
    </ul>

    <h2>Uso de la Información</h2>
    <p>La información que recopilamos es utilizada para:</p>
    <ul>
      <li>Proporcionar y mejorar nuestros servicios.</li>
      <li>Procesar pedidos y pagos.</li>
      <li>Comunicarte promociones y novedades (si has dado tu consentimiento).</li>
    </ul>

    <h2>Protección de Datos</h2>
    <p>Implementamos medidas de seguridad para proteger tus datos personales contra accesos no autorizados y uso indebido.</p>

    <h2>Tus Derechos</h2>
    <p>Tienes derecho a acceder, rectificar o eliminar tus datos personales. Puedes contactarnos en cualquier momento para ejercer estos derechos.</p>

    <h2>Contacto</h2>
    <p>Si tienes alguna pregunta sobre esta política de privacidad, por favor contáctanos 
      <button onclick="window.location.href='/contacto';" class="privacy-policy-button">aquí</button>
    </p>
  </div>
</section>
</body>

