<body>
  <!-- Sección de Noticias -->
  <section class="noticias">
    <h2>📰 Últimas Noticias 📰</h2>

    <div class="news-list">
      <!-- Noticia 1 -->
      <div class="news-item">
        <img src="assets/IMG/zanahoria.jpg" alt="Nuevo Pastel">
        <h3>¡Nuevo Pastel: Pastel de Zanahoria !</h3>
        <p>Presentamos nuestro nuevo pastel con un toque refrescante de zanahoria, perfecto para la temporada.</p>
        <button onclick="window.location.href='/detalle-noticia';">Leer Más</button>
      </div>

      <!-- Noticia 2 -->
      <div class="news-item">
        <img src="assets/IMG/premio.jpg" alt="Premio Pastelería del Año">
        <h3>Premio: Pastelería del Año 2024</h3>
        <p>¡Nos enorgullece anunciar que hemos sido galardonados como la mejor pastelería del año 2024!</p>
        <button onclick="window.location.href='/detalle-noticia';">Leer Más</button>
      </div>

      <!-- Noticia 3 -->
      <div class="news-item">
        <img src="assets/IMG/evento.jpg" alt="Evento Especial">
        <h3>Evento Especial: Degustación de Nuevos Sabores</h3>
        <p>Te invitamos a nuestro evento de degustación donde podrás probar nuestros nuevos productos.</p>
        <button onclick="window.location.href='/detalle-noticia';">Leer Más</button>
      </div>
    </div>
  </section>
</body>
