<body>
<!-- Sección de Bienvenida -->
<section class="hero mi-fondo">
  <h1>🍰 Bienvenidos a Nuestra Pastelería 🍰</h1>
  <p>Deléitate con nuestros pasteles, tartas y dulces elaborados con amor y los mejores ingredientes.</p>
  <button onclick="window.location.href='/carta';">Nuestra Carta</button>
</section>

<!-- Productos Destacados -->
<section class="products">
  <h2>🏅 Productos Destacados 🏅</h2>
  <div class="category">
    <div class="product-list">
        <div class="product">
            <div class="product-content">
                <img src="assets/IMG/fresas.jpg" alt="Galletas Caseras">
                <h3>Pastel de Fresa</h3>
                <p>Fresco y dulce, ideal para cualquier ocasión.</p>
                <button class="add-to-cart-btn">Añadir al Carrito</button>
            </div>
        </div>
        <div class="product">
            <div class="product-content">
                <img src="assets/IMG/churros.jpg" alt="Cupcakes">
                <h3>Churros</h3>
                <p>Fritos y espolvoreados con azúcar y canela.</p>
                <button class="add-to-cart-btn">Añadir al Carrito</button>
            </div>
        </div>
        <div class="product">
            <div class="product-content">
                <img src="assets/IMG/empanada.jpg" alt="Churros">
                <h3>Empanada de Carne</h3>
                <p>Relleno sabroso y crujiente.</p>
                <button class="add-to-cart-btn">Añadir al Carrito</button>
            </div>
        </div>
    </div>
  </div>
</section>

<!-- Sección Sobre Nosotros -->
<section class="about" id="sobre-nosotros">
  <h2>Sobre Nosotros</h2>
  <p>Somos una pastelería artesanal que lleva más de 10 años endulzando la vida de nuestros clientes. Creemos en la calidad y el amor por lo que hacemos, usando siempre ingredientes frescos y naturales. Visítanos y descubre el sabor de nuestros productos.</p>
</section>
</body>







